.dropdown-menu {
  font: 15px sans-serif;
  color: #000000;
}
.nav-link dropdown-toggle {
  font: 10px sans-serif;
}

.navbar {
  position: relative;
  top: 10;
  font-size: 20px;
}
.navbar li a {
color: black;
}

.navbar-brand {
    color:  #FFFFFF;
}

svg {
  font-family: "Helvetica Neue", Helvetica;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}