.dropdown-menu {
  font: 15px sans-serif;
  color: #000000;
}
.nav-link dropdown-toggle {
  font: 10px sans-serif;
}

.navbar {
  position: relative;
  top: 10;
  font-size: 20px;
}
.navbar li a {
color: black;
}

.navbar-brand {
    color:  #FFFFFF;
}

.boxed {
   text-indent: 50px;
   line-height: 2;
   font-size: 15px;

}

.boxed2 {
 text-indent: 50px;
 line-height: 2;
 font-size: 15px;
}